<section class="container criar-cadastro ff-inter">
  <header class="header">
    <h2>Cadastro</h2>
  </header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card bg-light">
          <div class="card-body">
            <h3 class="card-title">Cadastro de Procedimentos</h3>
            <form [formGroup]="servicoForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" formControlName="nome">
                <div *ngIf="servicoForm.get('nome')?.invalid && servicoForm.get('nome')?.touched" class="text-danger">
                  Nome é obrigatório.
                </div>
              </div>

              <div class="form-group">
                <label for="tipoUnha">Tipo de Unha:</label>
                <select class="form-control" id="tipoUnha" formControlName="tipoUnha">
                  <option value="">Selecione o tipo de unha</option>
                  <option value="Gel">Gel</option>
                  <option value="Fibra">Fibra</option>
                  <option value="Cuticulagem">Cutilagem</option>
                </select>
                <div *ngIf="servicoForm.get('tipoUnha')?.invalid && servicoForm.get('tipoUnha')?.touched" class="text-danger">
                  Tipo de Unha é obrigatório.
                </div>
              </div>

              <div class="form-group">
                <label for="valor">Valor:</label>
                <input type="number" class="form-control" id="valor" formControlName="valor">
                <div *ngIf="servicoForm.get('valor')?.invalid && servicoForm.get('valor')?.touched" class="text-danger">
                  Valor é obrigatório.
                </div>
              </div>

              <div class="form-group">
                <label for="periodo">Período:</label>
                <input type="text" class="form-control" id="periodo" formControlName="periodo">
                <div *ngIf="servicoForm.get('periodo')?.invalid && servicoForm.get('periodo')?.touched" class="text-danger">
                  Período é obrigatório.
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
