<section class="container criar-cadastro ff-inter">
  <header class="header">
    <h2>Cadastro</h2>
  </header>
  <form>
    <label for="casdastro">Cadastro</label>
    <input
      type="textarea"
      class="input"
      id="casdastro"
      name="casdastro"
      placeholder="Digite seu nome"
      [(ngModel)]="cadastro.conteudo"
    />

    <label for="tipoUnha">Tipo de unha</label>
    <input
      type="text"
      class="input"
      id="tipoUnha"
      name="tipoUnha"
      placeholder="Digite o tipo de unha"
    />

    <label for="periodo">Período</label>
    <input
      type="text"
      class="input"
      id="periodo"
      name="periodo"
      placeholder="Digite o período"
    />

    <label for="valor">Valor</label>
    <input
      type="text"
      class="input"
      id="valor"
      name="valor"
      placeholder="Digite o valor"
    />



    <div class="acoes">
      <button (click)="criarCadastro()" class="botao">Salvar</button>
      <button (click)="Cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
