footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "TextoCopyright LogoRodape .";
  align-items: center;
  padding: 1rem 2rem;
  bottom: 0;
  background-color: palevioletred;
  height: 50px;
  width: 100%;
  position: absolute;
}

.LogoRodape {
  width: 100%;
  padding: 2rem 3rem;
  justify-self: center;
  grid-area: LogoRodape;
}
.TextoCopyright {
  justify-self: center;
  grid-area: TextoCopyright;
}

